.story-container {
  width: 80vw;
  margin: 2rem auto 0;
  align-items: center;
  font-size: 1.3rem;
  padding-bottom: 10vh;
}

.story_ph,
.story_av {
  text-align: center;
  margin-bottom: 0;
}

.planets-wrapper,
.vehicles-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

#planets {
  margin: 1rem;
  flex: 1;
}

/* .planets-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
} */

.vehicles-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.planet-size {
  width: 5rem;
}

.vehicle-size {
  width: 5rem;
  height: 10rem;
}

.help-king-shan-text {
  text-align: center;
}

.button-wrapper {
  text-align: center;
}

.button-start {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0.5rem 0;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
}

.button-start:hover {
  background-color: white;
  color: black;
  border: 2px solid rgb(33, 35, 36);
}
